#-------------------------------------------------------------
# Service settings
#-------------------------------------------------------------

# Speech to text/text to speech service
SPEACHES_URL=http://localhost:8000

# Text embedding service
TEXT_EMBEDDING_URL=http://localhost:1012
TEXT_EMBEDDING_DIM=1024
TEXT_EMBEDDING_PORT=1012

#-------------------------------------------------------------
# API secrets
#-------------------------------------------------------------
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL_NAME=your_model_name_here
OPENAI_TEMPERATURE=model_temperature_here

# JWT (use a long random secret in production)
JWT_SECRET_KEY=your_jwt_secret_here
JWT_EXPIRE_MINUTES=60

#-------------------------------------------------------------
# Infra settings
#-------------------------------------------------------------

# Milvus
MILVUS_HTTP_PORT=1013
MILVUS_GRPC_PORT=1014
MILVUS_URL=http://localhost:1013
COLLECTION_NAME=entity-collection-name
BM25_JSON_PATH=sparse-embedding-path
DATA_PATH=ambik-data-path

# Attu
ATTU_PORT=1015

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=1016
POSTGRES_USER=karb
POSTGRES_PASSWORD=karb
POSTGRES_DB=karb